* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased; /*deixa a font mais agradavel*/
    -moz-osx-font-smoothing: grayscale; /*deixa a font mais agradavel*/
}

:root {
    font-size: 62.5%;

    --hue: 0;
    --color-base-white:hsl(0, 0%, 100%);
    --color-base-gray-100:hsl(0, 0%, 82%);
    --color-base-gray-300:hsl(var(--hue), 6%, 57%);
    --color-base-gray-500:hsl(0, 0%, 24%);
    --color-base-gray-900:hsl(var(--hue), 60%, 3%);

}

html, body, input{
    font-family: 'Mulish', sans-serif;
}

body {
   font-size: 1.6rem;
   background-color: var(--color-base-white);
   color: var(--color-base-gray-900);
}

#app {
    display: grid;
    grid-template-rows: max-content 1fr max-content; 
    height: 100vh;
}

.container{
    padding: 1.6rem 3.2rem;
    width: min(112rem, 100%);
    margin: 0 auto;
}

main {
    overflow-y: scroll;
    background-color: var(--color-base-gray-100);
}

header, nav, nav ul{
    display: flex;
    align-items: center;
    gap: 7.2rem;
    font-weight: 700;
}

header form {
    flex: 1;
    
}

nav ul{
    list-style: none;
    font-size: 1.8rem;
    color: var(--color-base-gray-300);
}

ul li.active{
    color: var(--color-base-gray-900);
}
.input-wrapper label{ 
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.input-wrapper input{
    width: 100%;
    padding: 1.6rem;

    background-color: var(--color-base-gray-100);

    border: 0;
    border-radius: .6rem;

    font-weight: 600;
}

.input-wrapper input::placeholder{
    opacity: 0.56;
    color: var(--color-base-gray-500);
}
.avatar {
    width: 4.rem;
    height: 4.2rem;
    object-fit: cover;
    border-radius: 50%;
}

main div h2{
    padding-top: 3.6rem;
    padding-bottom: 3.6rem;

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 20px 22px;
}

.card{
    width: 39rem;
    background-color: var(--color-base-white);
    border-radius: 7.564px;

    overflow: hidden;

    font-size: 18.909px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.card img{
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card img:hover{
    filter: hue-rotate(7deg) contrast(101%) saturate(200%);
    transform: scale(1.1) rotate(-2deg);
}

.info{
    padding: 2.2rem;
    display: block;
    gap: .8rem;
    background-color: var(--color-base-gray-100);
    z-index: 1;
    position: relative;
}

span{
    border-radius: .5rem;
    background-color: var(--color-base-gray-100); 
    padding: .8rem;

    font-size: 11.345px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

footer p {
    text-align: center;
    padding: 1.6rem;
    font-weight: 600;
}

header{
    --startY: -100%;
    animation: move .2s;
}

footer{
    --startY: 100%;
    animation: move .2s;
}

@keyframes move {
    from{
        transform: translateY(var(--startY));
    }
}

.card{
    --delay:.4s;
    animation: apper .4s var(--delay) backwards;
}

@keyframes apper {
    0%{
        opacity: 0;
        transform: scale(0.7);
    }

    50%{
        transform: scale(1.2);
    }
}